

.logo-image{
    max-width: 300px;
    min-width: 200px;
}

.logo-image-medium{
    max-width: 180px;
    min-width: 150px;
}

.logo-image-small{
    max-width: 120px;
    min-width: 120px;
    min-height: 80px;
    max-height: 80px;
}

body.main{
    background-color: #363636;
}

.white-text{
    color: #ffffff;
}

.banner-image{
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;;
}

.restaurant-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    min-width: 200px;
    max-width: 200px;
    margin: 10px;
    padding: 5px;
    transition: 0.5s;
    text-decoration: none;
}

.restaurant-container:hover{
    background-color: #df7a7a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.custom-text{
    font-family: 'Courier New', Courier, monospace;
}