<%- include('../../../shared/_main_header.ejs') %>
<main class="container">
    <section class="container w-100 p-2 m-2">
        <div class="w-100">
            <img src="/images/burger_week.jpg" alt="Burger Week" class="img-fluid w-100 banner-image">
        </div>
        <section class="container bg-secondary d-flex flex-column">
            <h1 class="text white-text align-items-center" style="font-family: 'Brush Script MT', cursive;"><%= title %></h>
            <p style="font-family: 'Courier New', monospace">
                BURGER WEEK es el evento que reúne a las mejores hamburgueserías de Santa Cruz,
                las cuales preparan burgers únicas y exclusivas
                que sólo están disponibles en los 13 días de evento.
            </p>
        </section>
    </section>
</main>
<%- include('../../../shared/footer.ejs')%>